header {
    background-color: black;
    padding: 20px;
    margin: 10px;
}
.row>div {
    height: 20px;
    padding: 10px;
    margin: 10px;
}
main {
    background-color: rgb(2, 2, 2);
    padding: 20px;
    margin: 10px;
}

footer {
    background-color: black;
    margin: 8px;
    padding: 10px;
}
.grey {
    background-color: grey;
}
.azul{
    background-color: blue;
}
.reddishlight{
    background-color: darksalmon;
}
.reddishdark{
    background-color: rgb(223, 98, 53);
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.lightblue {
    background-color: lightblue;
}
.lightblue2{
    background-color: rgb(94, 175, 247);
}
.orange {
    background-color: orange;
   
}

.row{
    display: flex;
    flex-wrap: wrap;
    
  }
.row1{
    display: flex;
   
    
  }
.margintop{
    margin-top: 20px;
}
.marginleft{
    margin-left: 20px;
}
  

  
.col-1 {width: 8.33%;}
.col-2 {width: 20.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-45 {width: 41%;}
.col-46 {width: 39.8%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
   
    main {
        background-color: rgb(244, 248, 6);
        padding: 20px;
        margin: 10px;
    }
   
    .row>div {
        height: 20px;
        padding: 10px;
        margin: 10px;
    }

    .row1{
        display: block;
    }
    
    .marginleft{
        margin-left: 0px;
        margin-top: 20px;
    }


    .col-1 {width: 8.33%;}
    .col-2 {width: 19.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-45 {width: 100%;}
    .col-46 {width: 42%;}
    .col-5 {width: 37.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 100%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 95.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 96%;}

    footer {
      padding: 10px;  
    }
  }